@use "../../styles/index.scss" as *;

.newsletter-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .newsletter-footer__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    background-color: $purple-dark;
    color: $white-pure;
    padding: 40px 22px 40px 40px;
  }

  .newsletter-footer__column-1 {
    flex: 1;
    h2 {
      font-size: 32px;
      font-family: 'Outfit', sans-serif;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300;
    }
  }

  .newsletter-footer__column-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .newsletter-form {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    input {
      width: 233px;
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid $gray-deep;
      background-color: $white-pure;
      color: $gray-deep;
      transition: all 0.3s ease;
      text-indent: 10px;
    }
  }

  .newsletter-form button {
    width: 157px;
    height: 42px;
    padding: 12px;
    background-color: $yellow-soft;
    color: $black-pure;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }

  .newsletter-form button:hover {
    background-color: $yellow-dark;
  }

  .terms-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white-pure;

    input {
      margin-right: 5px;
    }
  }

  .footer-section {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-footer;

    .footer-content {
      width: 1440px;
      max-width: none;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 61.5px 80px;
    }

    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 90px;
      border-right: 2px solid $gray-light;

      img {
        width: 167px;
        height: 48px;
      }

      p {
        font-size: 14px;
        color: $gray-soft;
        margin-top: 10px;
      }

      .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 27px;
        margin-bottom: 62px;

        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }

    .footer-links {
      max-width: 800px;
      display: flex;
      flex: 1;
      justify-content: space-between;
      gap: 100px;

      .footer-links-column {
        h3 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            font-size: 14px;
            color: $gray-soft;
            margin-bottom: 8px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: $black-pure;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    width: 1440px;
    height: 47px;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: $gray-soft;
    background-color: $white-pure;
  }

  a {
    text-decoration: none;
    color: $gray-soft;
  }
}